@using FurTreeFull.Utils
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using FurTreeFull.Data.DataBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<MainDb> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<AuthorizeView>
    <NotAuthorized>
        <p><a href="/Account/Login">登陆</a>后才能发表评论</p>
    </NotAuthorized>
    <Authorized>
        <textarea @bind="comment" />
        <button @onclick="Send">发送</button>
    </Authorized>
</AuthorizeView>

@code
{
    [Parameter]
    public long MessageId { get; set; }
    [Parameter]
    public Action StateHasChangedAction { get; set; }
    [Parameter]
    public string Sender { get; set; }
    string comment = "";
    public async Task Send()
    {
        if (string.IsNullOrEmpty(comment))
            return;
        using var dbContext = DbFactory.CreateDbContext();
        dbContext.Comments.Add(new() { MessageId = MessageId, Content = comment });
        dbContext.SaveChanges();
        comment = "";
        StateHasChangedAction();
        await HintEmailSender.SendNewCommentHint(MessageId, Sender, NavigationManager);
    }
}