@page "/"

<PageTitle>Home</PageTitle>

欢迎！
<br/>
本网站使用了以下开源项目，感谢他们的奉献：
<br/>
<a href="asp.net">Microsoft ASP.NET Core</a>
<a href="http://www.mimekit.net/">MailKit</a>
<a href="https://learn.microsoft.com/zh-cn/ef/core/">EFCore</a>
<a href="https://www.sqlite.org/index.html">SQLite</a>