@page "/SendMessage"
@using FurTreeFull.Data.DataBase
@using FurTreeFull.Components.Shared
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<MainDb> DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<AuthorizeView>
    <NotAuthorized>
        <p><a href="/Account/Login">登陆</a>后才能发表</p>
    </NotAuthorized>
    <Authorized>
        <textarea @bind="Message"/>
        <button @onclick="Send">发送</button>
    </Authorized>
</AuthorizeView>

@code
{
    public string Message { get; set; }
    public async Task Send()
    {
        if(string.IsNullOrEmpty(Message))
            return;
        using var dbContext = DbFactory.CreateDbContext();
        dbContext.Messages.Add(new(){ Content = Message, Sender = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity.Name});
        dbContext.SaveChanges();
        NavigationManager.NavigateTo("/Messages");
        return;
    }
}